@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../static/fonts/Poppins-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../../static/fonts/Poppins-Bold.woff2) format("woff2");
}

* {
  font-family: "Poppins" !important;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
